@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
}

:root {
  --lightblack: #515C6F;
  --white: #ffffff;
  --lightbshadow: rgba(0, 0, 0, 0.15);
}

body {
  display: flex;
  min-height: 100vh;
  background: #36353a;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@keyframes changeBackgroundColor {

  0%,
  100% {
    background-image: #36353a;
  }

  15% {
    background-image: #ff74a4;
  }

  25% {
    background-color: #ff4500;
  }

  35% {
    background-color: #205254;
  }

  45% {
    background-color: #592700;
  }

  50% {
    background-color: #231c42;
  }

  65% {
    background-color: #ff9191;
  }

  75% {
    background-color: #27ae60;
  }

  85% {
    background-color: #f1c40f;
  }

  95% {
    background-color: #00607a;
  }
}

.header h1 {
  color: rgb(151, 255, 146);
  font-size: 65px;
  font-family: 'Poppins';
  text-align: center;
}

@keyframes changeColor {

  0%,
  100% {
    color: rgb(151, 255, 146);
  }

  15% {
    color: black;
  }

  25% {
    color: #04ff00;
  }

  35% {
    color: #ffffff;
  }

  45% {
    color: #ffffff;
  }

  50% {
    color: #000000;
  }

  65% {
    color: #000000;
  }

  75% {
    color: #000000;
  }

  85% {
    color: #000000;
  }

  95% {
    color: #ffffff;
  }
}

.header h5 {
  color: white;
  font-size: 15px;
  word-spacing: 12px;
  text-align: center;
}

.header h5 a {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.content-container {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  justify-items: center;
}

.wrapper {
  width: 335px;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  background: var(--white);
  background: linear-gradient(0deg, #000, #262626);
}

.wrapper i {
  cursor: pointer;
}

.top-bar,
.progress-area .song-timer,
.controls,
.music-list .header,
.music-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar i {
  font-size: 30px;
  color: white
}

.top-bar i:first-child {
  margin-left: -7px;
}

.top-bar span {
  font-size: 18px;
  margin-left: -3px;
  color: white;
}

.img-area {
  width: 100%;
  height: 256px;
  overflow: hidden;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 0px 6px 12px var(--lightbshadow);
}

.img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-details {
  text-align: center;
  margin: 30px 0;
}

.song-details p {
  color: var(--lightblack);
  color: white;
}

.song-details .name {
  font-size: 21px;
  color: white;
}

.song-details .artist {
  font-size: 18px;
  opacity: 0.9;
  line-height: 35px;
  color: white;
}

.progress-area {
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
}

.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, #006101 0%, #97ff92 100%);
  cursor: grabbing;
}

.progress-bar::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
  cursor: grabbing;
}

.progress-area:hover .progress-bar::before {
  opacity: 1;
  pointer-events: auto;
}

.progress-area .song-timer {
  margin-top: 2px;
}

.song-timer span {
  font-size: 13px;
  color: var(--lightblack);
}

.controls {
  margin: 40px 0 5px 0;
}

.controls i {
  font-size: 28px;
  user-select: none;
  background: linear-gradient(#000000 0%, #97ff92 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
  font-size: 43px;
}

.controls #prev {
  margin-right: -13px;
}

.controls #next {
  margin-left: -13px;
}

.controls .play-pause {
  height: 54px;
  width: 54px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(#ffffff 0%, #ffffff 100%);
  box-shadow: 0px 0px 5px #000000;
}

.play-pause::before {
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: linear-gradient(#000000 0%, #97ff92 100%);
}

.play-pause i {
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.music-list {
  position: absolute;
  background: var(--white);
  width: 100%;
  left: 0;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-out;
}

.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.header .row {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--lightblack);
}

.header .row i {
  cursor: default;
}

.header .row span {
  margin-left: 5px;
}

.header #close {
  font-size: 22px;
  color: var(--lightblack);
}

.music-list ul {
  margin: 10px 0;
  max-height: 260px;
  overflow: auto;
}

.music-list ul::-webkit-scrollbar {
  width: 0px;
}

.music-list ul li {
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: var(--lightblack);
  border-bottom: 1px solid #E5E5E5;
}

.music-list ul li:last-child {
  border-bottom: 0px;
}

.music-list ul li .row span {
  font-size: 17px;
}

.music-list ul li .row p {
  opacity: 0.9;
}

ul li .audio-duration {
  font-size: 16px;
}

ul li.playing {
  pointer-events: none;
  color: #97ff92;
  background-color: #000;
  border-radius: 12px;
  padding: 12px;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  text-align: center;
}

.modal__content p {
  padding: 30px;
}

.modal__footer p {
  padding: 12px;
  text-align: center;
}

.modal__footer {
  a {
    color: #585858;
  }

  i {
    color: #d02d2c;
  }
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
  font-size: 30px;
}

@media (max-width: 687px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    align-items: start;
  }
}

@media (max-width: 369px) {
  .header h1 {
    font-size: 35px;
  }

  .header h5 {
    font-size: 11px;
  }

  .wrapper {
    width: 245px;
  }

  .img-area {
    height: 125px;
  }

  .song-details .name {
    font-size: 11px;
  }

  .song-details .artist {
    font-size: 12px;
  }

  .controls i {
    font-size: 15px;
  }

  .controls i:nth-child(2),
  .controls i:nth-child(4) {
    font-size: 30px;
  }

  .controls .play-pause {
    height: 20px;
    width: 20px;
  }

  .header .row {
    font-size: 12px;
  }

  .material-icons {
    font-size: 19px;
  }

  .header #close {
    font-size: 20px;
  }

  .music-list ul li .row span {
    font-size: 13px;
  }

  .music-list ul li .row p {
    font-size: 13px;
  }
}